.App {
  padding: 20px 0 50px 0;
  color: $secondary-color;
  font-size: 16px;

  *, ::after, ::before {
    box-sizing: border-box;
  }

  .Type {
    margin-bottom: 20px;
    border: 2px solid $secondary-color;
    border-radius: 10px;

    > div {
      position: relative;
      display: inline-block;
      width: 50%;

      &:first-of-type {
        border-right: 2px solid $secondary-color;
      }

      .fa-check-circle {
        display: none;
        position: absolute;
        top: -10px;
        left: 50%;
        color: $primary-color;
        font-size: 20px;
        background: #fff;
        border-radius: 50%;
        transform: translate(-10px,0);
      }

      > div {
        padding: 20px;
        font-weight: bold;
        text-align: center;

        .icon-container {
          height: 50px;
          width: 50px;
          margin: 0 auto 10px auto;
          border: 2px solid $secondary-color;
          border-radius: 50%;

          i {
            position: relative;
            top: 10px;
            color: $secondary-color;
            font-size: 25px;
          }
        }
      }

      &.active {
        .fa-check-circle {
          display: block;
        }

        > div {
          .icon-container {
            border: 2px solid $primary-color;

            i {
              color: $primary-color;
            }
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .Quantity,
  .Frequency {
    margin-bottom: 20px;
    border: 2px solid $secondary-color;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }

    > div {
      position: relative;
      padding: 10px 50px 10px 50px;
      font-weight: bold;
      text-align: right;

      label,
      i {
        position: absolute;
      }

      label {
        top: 10px;
        left: 10px;
        font-weight: normal;
      }

      i {
        top: 15px;
        right: 10px;
        color: $secondary-color;
        font-size: 15px;
      }
    }

    ul {
      padding: 0 50px;
      text-align: right;

      li {
        padding: 10px 0;
        list-style: none;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .Submit {
    text-align: center;

    label {
      font-size: .8em;
    }

    .submit-button {
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
      padding: 15px;
      color: #fff;
      text-align: center;
      font-weight: bold;
      background: $primary-color;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
